body{
background-image: linear-gradient(
    45deg,
    rgb(114, 89, 89),
    silver 75%
 
);
}

h1{
    color: red;
    text-align: center;
    text-decoration: underline ;
}
p{font-size: x-large;

}
/* A justificativa se refere a regra de estilização ,(3. O parágrafo (<p>) deve ter um tamanho de fonte maior e ser justificado.) do css. */

img,ul{
    display: inline-block; 
    border-radius: 10px;
 }

 .imagem-borda {
     border-style: solid;
     border-radius: 10px;
   
 }
  
table{
    border-style: solid;}
td{
      border-style: solid;
  }
  
.franca{background-color: RED;}

.egito{background-color: greenyellow;}

.japao{background-color: aqua;}

.nome,.pais {background-color: white;}

.link:hover{
    background-color: darkorange;
}


